<!doctype html>
<meta charset=utf-8>
<meta name=viewport content="width=1274, user-scalable=no">
<title>barcamp kiel 2012 - angularjs</title>
<link rel=stylesheet href=themes/ribbon/styles/style.css>
<link rel=stylesheet href=themes/code.css>

<style>
    .slide.passy h2 {
        color: black;
        text-align: center;
        font-size: 70px;
    }
    h3 {
        color: rgba(0,0,0,.4);
        font-size: 30px;
    }
    #passy img {
        float: left;
        margin-right: 2em;
    }
    .weluse {
        width: 244px;
        height: 109px;
        background-image: url("img/weluse_logo.png");
        position: absolute;
        bottom: 20px;
        right: 20px;
        z-index: 20;
    }
    .slide.cover section {
        background: #fff;
    }

    .slide.cover h2 {
        margin-top: 15%;
        text-align: center;
    }

    .slide.cover h3 {
        text-align: center;
    }
</style>

<body class=list>
    <header class=caption>
        <h1>AngularJS — Superheroic JavaScript MVW Framework</h1>
        <p>Pascal Hartig, weluse GmbH</p>
    </header>

    <div class="slide cover" id=cover><div>
        <section>
            <header>
                <h2><img src=img/angular.png alt=AngularJS class=noscale></h2>
                <h3>Superheroic JavaScript MVW Framework</h3>
            </header>
        </section>
    </div></div>

    <div class="slide" id=passy><div>
        <section>
            <header>
                <h2>@passy</h2>
                <h3>Pascal Hartig</h3>
            </header>
            <img src="img/passy.jpg" alt=Passy class=noscale>
            <ul>
                <li>Software-Entwickler</li>
                <li>Seit 3 Jahren bei weluse</li>
                <li>Fan von JavaScript MV*-Frameworks</li>
                <li>https://github.com/<b>passy</b></li>
                <li>https://twitter.com/<b>passy</b></li>
                <li>http://gplus.to/<b>passy</b></li>
            </ul>
        </section>
    </div></div>

    <div class=slide id=whatis><div>
        <section>
            <header>
                <h2>AngularJS</h2>
            </header>
            <ul>
                <li>Model-View-Whatever-Framework</li>
                <li>Etwa 3 Jahre alt</li>
                <li>v1.0 am 14. Juni 2012</li>
                <li>20%-Projekt von Googlern</li>
            </ul>
        </section>
    </div></div>

    <div class=slide id=frameworks><div>
        <section>
            <header>
                <h2>Noch ein JS-Framework?</h2>
            </header>
            <img class=fullscreen src=img/frameworks.png>
        </section>
    </div></div>

    <div class=slide id=different><div>
        <section>
            <header>
                <h2>Was AngularJS (anders) macht</h2>
            </header>
            <ul>
                <li>DOM-basiertes Templating-System im Browser</li>
                <li>Bidirektionales Data-Binding</li>
                <li>Web Components</li>
                <li>Wartbar durch Testbarkeit mit Dependency Injection</li>
                <li>Klein (&lt;29kb) zipped/minified (vgl. jQuery: 32kb)</li>
            </ul>
        </section>
    </div></div>

    <div class=slide id=templates-1><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>HTML</h3>
            </header>
            <pre>
<code>&lt;p&gt;Hello World!&lt;/p&gt;</code>
            </pre>

            <h4>Ergebnis:</h4>
            <p>Hello World!</p>
        </section>
    </div></div>

    <div class=slide id=templates-2><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>JavaScript 1/2</h3>
            </header>
            <pre>
<code>&lt;p id="greeting"&gt;&lt;/p&gt;</code>
            </pre>
        </section>
    </div></div>

    <div class=slide id=templates-3><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>JavaScript 2/2</h3>
            </header>
<pre class=small><code>var isIE = document.attachEvent;
var addListener = isIE
    ? function(e, t, fn) { e.attachEvent('on' + t, fn);}
    : function(e, t, fn) { e.addEventListener(t, fn, false);};

addListener(window, 'load', function(){
    var greeting = document.getElementById('greeting');
    if (isIE) { greeting.innerText = 'Hello World!'; }
    else { greeting.textContent = 'Hello World!'; }
});
</code></pre>
        </section>
    </div></div>

    <div class=slide id=templates-4><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>AngularJS</h3>
            </header>
        <small>HTML</small>
<pre class=small><code>&lt;p ng-controller="HelloController"&gt;{{ greeting }}!&lt;/p&gt;</code></pre>
        <small>JavaScript</small>
<pre class=small><code>function HelloController($scope) {
    $scope.greeting = 'Hello World';
}</code></pre>
        </section>
    </div></div>

    <div class=slide id=templates-4-demo><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>AngularJS: Demo</h3>
            </header>
            <iframe scrolling=no src="demo/hello.html"></iframe>
        </section>
    </div></div>

    <div class=slide id=templates-5><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>AngularJS</h3>
            </header>
        <small>HTML</small>
<pre class=small><code>&lt;body ng-controller="HelloMultipleController"&gt;
    &lt;button <mark>ng-click="sayHello()"</mark>&gt;Sag Hallo!&lt;/button&gt;
    &lt;ul&gt;&lt;li <mark>ng-repeat="entity in entities"</mark>&gt;Hallo, {{ entity }}!&lt;/li&gt;&lt;/ul&gt;
&lt;/body&gt;</code></pre>
        <small>JavaScript</small>
<pre class=small><code>function HelloMultipleController($scope) {
    $scope.entities = [];
    $scope.sayHello = function () {
        $scope.entities = ["Kiel", "Barcamp", "AngularJS"];
    };
}
</code></pre>
        </section>
    </div></div>

    <div class=slide id=templates-6><div>
        <section>
            <header>
                <h2>Templating</h2>
                <h3>AngularJS: Demo</h3>
            </header>
            <iframe scrolling=no src="demo/hello1.html"></iframe>
        </section>
    </div></div>

    <div class=slide id=templates-7><div>
        <section>
            <header>
                <h2>Bidirektionales Data-Binding</h2>
            </header>
        <small>HTML</small>
<pre class=small><code>&lt;body ng-controller="HelloModelController"&gt;
    &lt;input <mark>ng-model="name"</mark> placeholder="Name"&gt;
    &lt;p&gt;Hallo, {{ name }}!&lt;/p&gt;
    &lt;button ng-click="sayHello()"&gt;Sag Hallo!&lt;/button&gt;
&lt;/body&gt;</code></pre>

        <small>JavaScript</small>
        <pre class=small><code>function HelloModelController($scope) {
    $scope.sayHello = function () {
        alert("Hallo, " + $scope.name + "!");
    };
}</code></pre>
        </section>
    </div></div>

    <div class=slide id=templates-7-demo><div>
        <section>
            <header>
                <h2>Bidirektionales Data-Binding</h2>
                <h3>Demo</h3>
            </header>
            <iframe scrolling=no src="demo/hello2.html"></iframe>
        </section>
    </div></div>

    <div class=slide id=web-components><div>
        <section>
            <header>
                <h2>Web Components</h2>
                <h3>Die Idee</h3>
            </header>
            <img src=img/video.png style="float: right" alt="Video element with
            controls">
            <ul>
                <li>Wiederverwendbare, eigene HTML-Elemente</li>
                <li>Ein HTML-Element beinhaltet:
                    <ul>
                        <li>Event Handler</li>
                        <li>Event Controller</li>
                        <li>Markup</li>
                        <li>Styling</li>
                    </ul>
                <li>Schon heute: &lt;video&gt;</li>
            </ul>
        </section>
    </div></div>

    <div class=slide id=datepicker><div>
        <section>
            <header>
                <h2>Web Components</h2>
                <h3>Template</h3>
            </header>
            <pre class=small><code>&lt;<mark>ui-date</mark> ng-model="date"&gt;&lt;/ui-date&gt;
&lt;input ng-model="date" <mark>ui-date</mark>&gt;
&lt;div&gt;Gewähltes Datum: {{ date }}&lt;/div&gt;
&lt;div&gt;Formartiertes Datum: {{ date | date:'mediumDate' }}&lt;/div&gt;
&lt;div&gt;Gewählter Monat: {{ date.getMonth() }}&lt;/div&gt;</code></pre>
        </section>
    </div></div>

    <div class=slide id=datepicker-demo><div>
        <section>
            <header>
                <h2>Web Components</h2>
                <h3>Demo</h3>
            </header>
            <iframe scrolling=no src="demo/datepicker.html" style="margin-top: -10px"></iframe>
        </section>
    </div></div>

    <div class=slide id=di-1><div>
        <section>
            <header>
                <h2>Dependency Injection</h2>
            </header>
            <img src=img/di.jpg alt="Dependency Injection" style="float: right; width: 30%">
            <ul>
                <li>Drei Möglichkeiten an eine Abhängigkeit zu gelangen:
                    <ol>
                        <li>Erzeugen, etwa über <code>new</code>-Operator</li>
                        <li>Auflösen über eine globale Variable</li>
                        <li>Übergeben wo es benötigt wird</li>
                    </ol>
                </li>
                <li>DI ist die dritte Option</li>
            </ul>
        </section>
    </div></div>

    <div class=slide id=di-2><div>
        <section>
            <header>
                <h2>Dependency Injection</h2>
                <h3>Beispiel: HTTP</h3>
            </header>
            <pre class=small><code>function FetchController(<mark>$scope, $http, $templateCache</mark>) {
    $scope.fetch = function () {
        $http({method: 'GET', url: <mark>$scope.url</mark>, cache: $templateCache}).
            success(function (data, status) {
                $scope.status = status;
                $scope.data = data;
            }).error(function (data, status) {
                $scope.status = status;
                $scope.data = "Oh noes!";
            });
    };
}</code></pre>
        </section>
    </div></div>

    <div class=slide id=di-2-demo><div>
        <section>
            <header>
                <h2>Dependency Injection</h2>
                <h3>Demo</h3>
            </header>
            <iframe scrolling=no src="demo/http.html"></iframe>
        </section>
    </div></div>

    <div class=slide id=tests><div>
        <section>
            <header>
                <h2>Tests</h2>
            </header>
            <pre class=small><code>it('should fetch the URL', function () {
    var testUrl = "testurl",
        called = false,
        scope = {},
        http = function (options) {
            called = true;
            expect(options.url).toBe(testUrl);
            return jasmine.createSpyObj('$http', ['success', 'error']);
        },
        ctrl = <mark>new FetchController(scope, http)</mark>;
        scope.url = testUrl;
        scope.fetch();
        expect(called).toBeTruthy();
});</code></pre>
        </section>
    </div></div>

    <div class=slide id=tests-result><div>
        <section>
            <header>
                <h2>Tests</h2>
                <h3>Ergebnis</h3>
            </header>
            <pre class=small><code>Total 1 tests (Passed: 1; Fails: 0; Errors: 0) (3.00 ms)
Chrome 21.0.1180.57 Linux: Run 1 tests (Passed: 1; Fails: 0; Errors 0) (3.00 ms)</code></pre>
        </section>
    </div></div>

    <div class=slide id=more><div>
        <section>
            <header>
                <h2>Mehr?</h2>
            </header>
            <ul>
                <li><a href="http://angularjs.org/" target=_blank>angularjs.org</a></li>
                <li><a href="http://welu.se/1Ln" target=_blank>Smashing Magazine: Journey
                        Through The JavaScript MVC Jungle (welu.se/1Ln)</a></li>
                <li><a href="http://todomvc.com" target=_blank>TodoMVC.com</a></li>
        </section>
    </div></div>

    <div class="slide shout" id=qa><div>
        <section>
            <header>
                <h2>Danke!</h2>
                <center>
                    Follow me: @passy<br />
                    <a href="http://weluse.de/">weluse.de</a>
                </center>
            </header>
        </section>
    </div></div>

    <div class=weluse></div>
    <div class=progress><div></div></div>
    <script src=scripts/script.js></script>
    <script src=scripts/highlight.pack.js></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
