<!doctype html>
<html ng-app>
<meta charset=utf-8>
<title>Hello World Example 2</title>
<link rel=stylesheet href=bootstrap.css>
<style>
body {
    padding-top: 50px;
    padding-left: 10px
}
</style>

<body ng-controller="HelloModelController">
    <div class="container">
        <div class="row-fluid">
            <input type=text ng-model=name placeholder=Name>
            <p>Hallo, {{ name }}!</p>
            <button ng-click="sayHello()">Sag Hallo!</button>
        </div>
    </div>
    <script src=angular-1.0.1.js></script>
    <script src=hello2.js></script>
</body>
</html>
